

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.flow-list-area {
  grid-area: 2 / 1 / 3 / 2;
  overflow: auto;
}

.flow-details-area {
  grid-area: 2 / 2 / 3 / 3;
  overflow-y: auto;
  overflow-x: auto;
}

.header-area {
  grid-area: 1 / 1 / 2 / 3;
}

/* no need for footer
.footer-area {
  grid-area: 3 / 1 / 4 / 3;
}*/


/* Header */

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  @apply px-2 gap-2;
  .header-icon {
    @apply text-2xl pr-2
  }
}

.text-mono {
  font-family: 'Recursive';
  --mono: "MONO" 1;
  font-variation-settings: var(--mono);
}


/* Loading state */
.sidebar-loading {
  background: theme('colors.slate.200');
  background: linear-gradient(90deg, theme('colors.slate.200') 8%, theme('colors.slate.100') 18%, theme('colors.slate.200') 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

html.dark .sidebar-loading {
  background: theme('colors.slate.800');
  background: linear-gradient(90deg, theme('colors.slate.800') 8%, theme('colors.slate.700') 18%, theme('colors.slate.800') 33%);
  background-size: 200% 100%;
}

@keyframes shine {
  to {
    background-position-x: -400%;
  }
}